[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "BSSasymp"]
	path = BSSasymp
	url = https://github.com/cran/BSSasymp
	shallow = true
	registered = true
[submodule "fastM"]
	path = fastM
	url = https://github.com/cran/fastM
	shallow = true
	registered = true
[submodule "fICA"]
	path = fICA
	url = https://github.com/cran/fICA
	shallow = true
	registered = true
[submodule "ICS"]
	path = ICS
	url = https://github.com/cran/ICS
	shallow = true
	registered = true
[submodule "ICSNP"]
	path = ICSNP
	url = https://github.com/cran/ICSNP
	shallow = true
	registered = true
[submodule "ICSOutlier"]
	path = ICSOutlier
	url = https://github.com/cran/ICSOutlier
	shallow = true
	registered = true
[submodule "ICSShiny"]
	path = ICSShiny
	url = https://github.com/cran/ICSShiny
	shallow = true
	registered = true
[submodule "ICtest"]
	path = ICtest
	url = https://github.com/cran/ICtest
	shallow = true
	registered = true
[submodule "JADE"]
	path = JADE
	url = https://github.com/cran/JADE
	shallow = true
	registered = true
[submodule "LDRTools"]
	path = LDRTools
	url = https://github.com/cran/LDRTools
	shallow = true
	registered = true
[submodule "MNM"]
	path = MNM
	url = https://github.com/cran/MNM
	shallow = true
	registered = true
[submodule "REPPlabShiny"]
	path = REPPlabShiny
	url = https://github.com/cran/REPPlabShiny
	shallow = true
	registered = true
[submodule "SpatialNP"]
	path = SpatialNP
	url = https://github.com/cran/SpatialNP
	shallow = true
	registered = true
